.container {
  display: flex;
  justify-content: center;
}

.inner-container {
  color: rgba(255, 255, 255, 0.829);
  font-size: 1.1rem;
  border: 1px solid gray;
  min-width: 23%;
  width: fit-content;
  padding: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 600;
}
