.container {
  margin-top: 4rem;
  border-top: 2px solid black;
  font-size: 1.1rem;
}
.divider {
  display: flex;
  width: 85%;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
}

.range-column {
  width: 33%;
}
