.container {
  display: flex;
  justify-content: center;
}

.inner-container {
  font-size: 1.2rem;
  font-weight: 500;
  width: 15%;
  height: fit-content;
  padding: 5px;
  min-height: 10px;
  border: 1px solid gray;
  color: white;
  text-align: left;
}
